{% extends "base.html" %}
{% block content %}

<section dir="rtl" class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                
                <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">تفاصيل المنتج</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">{{data.items.nameitems}}</h5>
                      <h5> {{data.items.price}}ريال سعودي</h5>
                    </div>
  
                
  
                    <h5 class="text-uppercase mb-3">{{data.items.description}}</h5>
  
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">الاجمالي</h5>

                        <h5>ريال سعودي {{data.total}}</h5>

                    </div>
                    
  
                  </div>
                </div>
                <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-end align-items-center mb-5">
                        <h1 class="fw-bold mb-0">  </h1>
                        
                      </div>
    
                       
                          
                          <img class="img-fluid " src="{{data.items.image.url}} "height="300" width="300">
                   
                      <div class="pt-5" style="background-">
                        <h6 class="mb-0"><a href="{% url 'index' %}" class="text-body"><i
                              class="fas fa-long-arrow-alt-left me-2"></i>مواصلة التسوق</a>
                              <button  onclick="add_to_cart({{data.id}})" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-block btn-lg"
                              data-mdb-ripple-color="danger">اضف الى السلة <i class="bi bi-bag-fill"></i></button>
                              <a href="{% url 'checkout' %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block btn-lg"
                             data-mdb-ripple-color="dark">الدفع  <i class="bi bi-credit-card-2-back"></i></a>
                            </h6>
                      </div>
                    </div>
                  </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}