{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="text-success badge bg-warning " style="font-size: 25px; text-align: center;">لا تفوت عروض اليوم الوطني</h3>
   
    <div class="row text-center d-flex justify-content-center mt-5">
        <div class="col-sm-5">
           
                <div class="card border border-white">
                    <div class="card-body ">
                        <h4 class="text-danger">فقط في اليوم الوطني </h4>
                        <h3 class="text-success">GREEN BURGER!!</h3>
                        <img src="media/images/437688811.jpg" class="img-fluid rounded-3" alt="">
                           
    
                    </div>
                </div>
            
        </div>
        
        </div>
    </div>
    <div class="row text-center d-flex justify-content-center mt-5">
        <div class="col-sm-5">
            <div class="card border border-white">
                <div class="card-body ">
                    <h4 class="text-success">عند شرائك كلاسيك برجر</h4>
                    <h4 class="text-danger">!!تحصل على ميني برجر مجاني</h4>

                    <img src="media/images/1220212822247205850002.jpg" class="img-fluid rounded-3" alt="">


                </div>
            </div>
        </div>
</div>
{% endblock content %}